.item-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item-card {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.linkWithoutFx {
  text-decoration: none;
  background-color: none;
  color: black;
}

.linkWithoutFx:hover {
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
