.nav-logo {
    margin: 0 10px 0 10px;
}

.navbar-title {
    font-size: 100%;
}

.counter {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
    text-align: center;
    position: absolute;
    margin: -10px 0px 3px 0px;
}